.main-c1 {
  margin-top: -550px;
  margin-left: 144px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container1 {
  display: flex;
  flex-direction: column;
}
.momentum {
  height: 80px;

  font-weight: 400;
  font-size: 80px;
  line-height: 80px;

  color: #ffffff;
}
.momentum1 {
  height: 44px;
  margin-top: -80px;

  font-weight: 400;
  font-size: 30px;
  line-height: 44px;

  color: #ffffff;
}
.app {
  text-align: center;
  padding-top: 20px;
  height: 46px;
  max-width: 170px;

  background: #fc0a7e;
  border-radius: 3px;
}
.app:active{
  background: #d20a6b;
}
.img2 {
  margin-top: -100px;
  height: 680px;
}
