.container-3 {
  height: 5219px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.layer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 195px;
}
.layer1a {
  display: flex;
  flex-direction: row;
}
.layer_a1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #a8a8a8;
}
.layer_a2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  margin-top: 30px;
  max-width: 302px;
  /* or 126% */

  color: #000000;
}
.layer_a3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 22px;
  width: 306px;
  /* or 188% */

  color: #6b6b6b;
}
.img4 {
  margin-left: -40%;
}
.layer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.layer_aa {
  margin-left: 144px;
  max-width: 330px;
}
.img5 {
  margin-top: 160px;
  margin-right: -40%;
}
.img6 {
  margin-left: -40%;
}
.otstup {
  margin-top: 160px;
}
.layer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 159px;
}
.layer3a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layer3a_zag {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;

  text-align: center;

  color: #000000;
}
.layer3a_tex {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 17px;
  max-width: 371px;

  text-align: center;

  color: #6b6b6b;
}
.layer4 {
  margin-top: 163px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.layer4a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layer4b {
  font-weight: 400;
  font-size: 59px;
  line-height: 90px;

  text-align: center;

  color: #333333;
}
.layer4c {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;

  text-align: center;

  color: #000000;
}
.layer5 {
  margin-top: 170px;
}
.layer6 {
  margin-top: 161px;
  margin-right: -40%;
}
.layer_aaa {
  margin-top: 144px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #a8a8a8;
}
.layer7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 162px;
}
.layer7a {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  text-align: center;

  color: #6b6b6b;
  max-width: 700px;
  margin-top: 66px;
}
.layer8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}
.layer8b {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  text-align: center;

  color: #6b6b6b;
}
.layer8c {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  text-align: center;

  color: #6b6b6b;
  margin-left: 70px;
}
.layer8a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layer8d {
  width: 7px;
  height: 7px;
  background: #222222;
}
.layer8e {
  width: 7px;
  height: 7px;
  background: rgba(34, 34, 34, 0.4);
  margin-left: 15px;
}
.layer8aa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}
.layer9 {
  margin-top: 142px;
  align-items: center;
}
.layer10 {
  margin-top: 118px;
}
