.container4 {
  display: flex;
  flex-direction: column;
  height: 474px;
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  margin-top: -9px;
}
.line {
  height: 1px;
  opacity: 0.18;
  margin-bottom: 20px;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container41 {
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #f1f1f1;
}
.container42 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.coin4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #f1f1f1;
  height: 66px;
  width: 190px;
  background: #fc0a7e;
  border-radius: 3px;
  border: none;
}
.coin4:active {
  background: #d20a6b;
}
.coin42 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: #f1f1f1;
  height: 66px;
  width: 190px;
  background: none;
  border-radius: 3px;
  border: rgb(179, 179, 179) solid 1px;
  margin-left: 5%;
}
.coin42:active {
  border-color: #fc0a7e;
  color: #fc0a7e;
}
.otstupc4 {
  margin-top: -290px;
  z-index: 2;
}
