.header {
  height: 800px;
  background: linear-gradient(287.15deg, #5f1168 0%, rgba(224, 46, 132, 0) 100%),
    #cf0079;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.klock {
  display: flex;
  justify-content: space-around;
  font-weight: 420;
  font-size: 16px;
  line-height: 20px;
  width: 390px;
  color: #f1f1f1;
}

.logo {
  display: flex;
  height: 34px;
}
